@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$primary-color: #3d4f6a;
$secondary-color: #01C3A7;
$ternary-color: #01907c;
$font-color-light: #FFF;
$font-color-dark: black;
$shadow-color: rgba(48,50,58,.6);
$light-color: #DCE3E6;
$font-family: 'Source Sans Pro', sans-serif;
