@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$primary-color: #3d4f6a;
$secondary-color: #01C3A7;
$ternary-color: #01907c;
$font-color: #FFF;
$font-family: 'Source Sans Pro', sans-serif;
